
<mat-toolbar style=" margin-top:-1ch; width: 99vw;"color="primary">
    <span>Home</span>
    <div  class="spacer">   </div>
    <a mat-button routerLink="/home"> <mat-icon>timeline</mat-icon>Home</a>
    <a mat-button routerLink="/dashboard"> <mat-icon>timeline</mat-icon>Browse stocks</a>
    <a mat-button routerLink="/profit"> <mat-icon>timeline</mat-icon>Arbitrage Recommendations</a>
    <a mat-button routerLink="/saved_stocks"> <mat-icon>timeline</mat-icon>Saved Stocks <span class="badge">{{ savedStocksCount }}</span></a>
    <a mat-button routerLink="/logout"> <mat-icon>timeline</mat-icon>Logout</a>
</mat-toolbar>
