
mat-card {
    width: 600px;
    text-align: center;
    margin-right: 30%; 
    margin-left: 30%; 
    margin-top:-90%; 
    
  }
  
  .header{
    text-align: center;
  
  }
  .full-width {
    width: 80%;
  }
  .half-width{
    width: 40%;
  }
  .width1{
    width: 40%;
  }
  .width2{
    width: 10%;
  }
  .button-row {
    padding-top: 5px;
  }
  
  .button-row a {
    margin-right: 8px;
    text-align: center;
  }
  
  .forget-password{
    padding-left: 0px;
  }
  .emailInput1{
    padding-top: 10px;
  }
  .emailInput{
    padding-top: 10px;
    
  }
  
  .contentBody {
    padding: 60px 1rem;
    
    display: block;
  }
  
  .aLink{
    float: right;
    padding-right: 60px;
    text-decoration: none;
  }
  .aLink1{
    float: center;
    padding-left: 30px;
    text-decoration: none;
  }