<div class="nav">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </div>
  <div class="home-content">
    <div class="section">
      <h2><mat-icon>lightbulb</mat-icon> What are Arbitrage Recommendations?</h2>
      <p>Arbitrage recommendations provide insights into potential investment opportunities by comparing the prices of the same stock across different stock exchanges. This practice takes advantage of price disparities between markets to make profitable trades.</p>
    </div>
  
    <div class="section">
      <h2><mat-icon>trending_up</mat-icon> How It Works</h2>
      <p>In our system, we gather real-time data from both the National Stock Exchange (NSE) and Bombay Stock Exchange (BSE) for a selection of stocks. By analyzing the current prices and historical trends, we identify situations where the price difference between the two exchanges suggests a potential arbitrage opportunity.</p>
    </div>
  
    <div class="section">
      <h2><mat-icon>assessment</mat-icon> Recommendation Algorithm</h2>
      <p>Our recommendation algorithm assesses the calculated arbitrage and categorizes it as a "Buy" or "Sell" recommendation. If the calculated arbitrage is positive, a "Buy" recommendation is made, indicating that the stock could be purchased from the exchange where it's priced lower and sold where it's priced higher. Conversely, if the arbitrage is negative, a "Sell" recommendation is provided, suggesting a sale on the higher-priced exchange and a subsequent purchase on the lower-priced one.</p>
    </div>
  </div>
  